.image-to-show {
    width: 400px;
    height: 400px;
}
.images-wrapper {
    margin: 0 auto;
    border: 5px solid black;
    width: 400px;
    height: 400px;
}
.container {
    text-align: center;
    margin: 0 auto;
}
.btn {
    padding: 10px;
    background-color: green;
    color: white;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    font-size: 25px;
}
.hide {
    display: none;
}
.current-img {
    display: block;
}
/*body > div:first-child {*/
.answers {
    text-align: left;
    margin: 0 auto;
    font-size: 25px;
    width: 1200px;
    border: 3px black solid;
}
